// app global css in SCSS form
.bg-blue {
  background: #5584FF !important;
}
.text-blue {
  color: #5584FF !important;
}
.border-blue {
  border: 1.5px solid #5584FF !important;
}
.text-grey {
  color: #545E79 !important;
}
.border-light-grey {
  border: 1.5px solid #E0E3ED !important;
}
.my-button {
  height: 40px;
  border-radius: 6px;
  text-transform: none;
  font-weight: 600;
}
